/* .ant-table-header{
    height:50px!important;
    margin-bottom: 0px!important;
    overflow: auto!important;
} */
.ant-table-thead > tr > th{
    padding: 6px 6px !important;   
}
.ant-table-row>td{
    padding: 4px 4px !important;
}
.table-container{
        width:100%;
        height:auto;
        background: #fff;
        padding: 20px 10px;
}